doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/d3.js")
	body
		div#navHolder
		br
		br
		div#fillerup
			h1 Intro to D3.js
			p. 
				D3 has entered the browser....<br><br>
				open the dev tools (command + option + j) to paste 
				and evaluate code samples. <br><br>
				Follow the buttons above in sequence
		script(src="/javascripts/spa.js")