doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/d3.js")
	body
		a(href='/uno')  uno
		a(href='/dos')  dos
		a(href='/tres')  tres
		a(href='/quatro')  quatro
		a(href='/cinco')  cinco
		a(href='/seis')  seis
		a(href='/siete')  siete
		a(href='/ocho')  ocho
		a(href='/nueve')  nueve <br>
		block content