extends layout

block content
	h1 Enter-Update-Exit
	a(href="http://bost.ocks.org/mike/join/") Mike's Explanation
	
	p enter
	code.inline.
		d3.select('#container')
		.selectAll('p')
		.data([1,2,3,4,5])
		.enter()
		.append('p')
		.text(function(d){ return String(d)})
		
	p update
	code.inline.
		d3.select('#container')
		.selectAll('p')
		.data(['a','b','c'])
		.text(function(d){ return d })
		
	p exit
	code.inline.
		d3.select('#container')
		.selectAll('p')
		.data(['a','b','c'])
		.exit()
		.style('color', 'red')
		
	svg(width="500" height="500").right
		circle(r="110" style="fill: blue; fill-opacity: 0.5" cx="120" cy="250")
		circle(r="110" style="fill: yellow; fill-opacity: 0.5" cx="220" cy="250")
		
	div#container