block content
	h1 Introduction to Data Visualization with D3
	a(href="https://github.com/crododile/introToD3") Repo for this talk
	h2 Informed and Inspired by
	a(href="http://www.d3js.org") D3 homepage <br>
	a(href="https://github.com/mbostock/d3/wiki/Tutorials") Official Tutorials <br>
	a(href="https://www.dashingd3js.com/the-data-visualization-process")
		The Ben Fry Process via Dashing D3.js
		
	h2 Our Goal
	h3.
		Data -----> Dom -----> Viewer