body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
code{
	white-space:pre-wrap;
	/*width: 50%;
	margin-right: 0;
	margin-left: auto;
	display: block;*/
}

code.inline{
	display: inline;
}

code.new{
	background-color: lightgreen;
}

code.remove{
	background-color: red;
}

rect{
	fill: lightblue;
	stroke: black;
}

/*#container{
	position: absolute;
	left:0;
	top: 20px;
}
*/
div.movie{
	position: fixed;
	background-color:rgba(0, 99, 99, 0.5);
	color: navy;
	top: 50px;
	right: 80px;
}